In [1]:
import pandas as pd

I import the excel file, which I retrieved from this link https://www.census.gov/construction/nrs/historical_data/index.html

In [16]:
df = pd.read_excel("data/pricefinc_cust.xls", skiprows = 5)
df

,Unnamed: 0,Unnamed: 1,tional1,Insured,Guaranteed,Hous. Serv.,Unnamed: 6,Unnamed: 7,tional1.1,Insured.1,Guaranteed.1,Hous. Serv..1,Unnamed: 12
0,1988,112500.0,135000.0,80000.0,87000.0,45800,108400.0,138300.0,159500.0,82000.0,92200.0,52000,128100.0
1,1989,120000.0,145000.0,82000.0,89000.0,42500,112000.0,148800.0,173100.0,84700.0,97800.0,48500,144000.0
2,1990,122900.0,147700.0,82700.0,91500.0,48000,117100.0,149800.0,173900.0,86500.0,103800.0,57300,149300.0
3,1991,120000.0,142400.0,84500.0,92400.0,46000,120000.0,147200.0,169400.0,87700.0,103200.0,57700,142300.0
4,1992,121500.0,138000.0,86500.0,99000.0,46500,116500.0,144100.0,161100.0,89900.0,107000.0,51500,137100.0
5,1993,126500.0,140000.0,90900.0,100900.0,49900,120700.0,147700.0,162700.0,95500.0,108600.0,58600,148700.0
6,1994,130000.0,145000.0,95000.0,105400.0,54500,125500.0,154500.0,169100.0,101000.0,111400.0,59700,153000.0
7,1995,133900.0,148500.0,95900.0,107000.0,71000,127000.0,158700.0,173800.0,100700.0,112800.0,75700,154900.0
8,1996,140000.0,155000.0,99900.0,108000.0,76800,140000.0,166400.0,182100.0,105700.0,112600.0,84100,169600.0
9,1997,146000.0,160800.0,106000.0,116000.0,84900,143900.0,176200.0,191700.0,108000.0,117500.0,88600,176700.0
10,1998,152500.0,167000.0,109000.0,129000.0,89000,150000.0,181900.0,195100.0,111100.0,130000.0,92800,198800.0
11,1999,161000.0,177700.0,115900.0,127400.0,91800,155600.0,195600.0,212500.0,119400.0,131400.0,99500,197300.0
12,2000,169000.0,188000.0,121000.0,139400.0,84300,161100.0,207000.0,224500.0,122300.0,140100.0,90100,216000.0
13,2001,175200.0,194900.0,122700.0,139400.0,88100,176800.0,213200.0,231900.0,127500.0,140300.0,108800,213400.0
14,2002,187600.0,206900.0,127900.0,144200.0,94600,195600.0,228700.0,246300.0,132900.0,147300.0,106700,232800.0
15,2003,195000.0,215700.0,128200.0,150900.0,100900,184500.0,246300.0,263600.0,133100.0,155400.0,106800,256100.0
16,2004,221000.0,238100.0,130100.0,149900.0,101000,199900.0,274500.0,290500.0,133900.0,158700.0,121100,245800.0
17,2005,240900.0,252200.0,134900.0,161500.0,104700,221000.0,297000.0,307500.0,140000.0,175300.0,108300,284600.0
18,2006,246500.0,258400.0,146200.0,184900.0,145100,246900.0,305900.0,316900.0,160100.0,195700.0,137200,301800.0
19,2007,247900.0,258500.0,151700.0,187700.0,139700,249400.0,313600.0,320000.0,161900.0,199700.0,148700,342900.0
20,2008,232100.0,250600.0,185800.0,193200.0,(NA),257500.0,292600.0,314100.0,204600.0,208900.0,(NA),322500.0
21,2009,216700.0,239900.0,182700.0,204100.0,(NA),262900.0,270900.0,298700.0,202400.0,225500.0,(NA),324600.0
22,2010,221800.0,252800.0,186900.0,210100.0,(NA),244700.0,272900.0,306100.0,206900.0,229300.0,(NA),318800.0
23,2011,227200.0,244700.0,191700.0,216900.0,(NA),232100.0,267900.0,288000.0,212600.0,235400.0,(NA),282700.0
24,2012,245200.0,270800.0,200000.0,228700.0,(NA),253700.0,292200.0,321100.0,220500.0,249600.0,(NA),305200.0
25,2013,268900.0,287200.0,205300.0,254000.0,(NA),280400.0,324500.0,348200.0,231200.0,276800.0,(NA),358200.0
26,2014,288500.0,306000.0,213000.0,261600.0,(NA),304300.0,347700.0,364600.0,230700.0,288500.0,(NA),398400.0
27,2015,294200.0,321700.0,223600.0,260500.0,(NA),322700.0,352700.0,380100.0,243100.0,290100.0,(NA),399000.0
28,2016,307800.0,339000.0,216600.0,283300.0,(NA),325100.0,360900.0,392200.0,236100.0,304300.0,(NA),403500.0
29,2017,323100.0,351300.0,234500.0,296800.0,(NA),349200.0,384900.0,415700.0,254900.0,317400.0,(NA),418700.0
30,2018,326400.0,362500.0,249500.0,294500.0,(NA),342900.0,385000.0,417700.0,263500.0,321000.0,(NA),411100.0
31,2019,321500.0,353700.0,241200.0,327300.0,(NA),335400.0,383900.0,414500.0,258400.0,359000.0,(NA),411600.0
32,2020,336900.0,370600.0,254600.0,348100.0,(NA),336000.0,391900.0,418000.0,268400.0,375600.0,(NA),441000.0
33,2021,397100.0,425700.0,288000.0,412700.0,(NA),399600.0,464200.0,486600.0,308100.0,441300.0,(NA),508000.0
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,1Includes houses reporting other types of fina...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.head(10)

,Median and Average Sales Price of Houses Sold by Type of Financing,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Period,Median Sales Price,NaN,NaN,NaN,NaN,NaN,Average Sales Price,NaN,NaN,NaN,NaN,NaN
2,NaN,Total Sold,Type of Financing,NaN,NaN,NaN,NaN,NaN,Type of Financing,NaN,NaN,NaN,NaN
3,NaN,NaN,Conven-,FHA,VA,Rural,Cash,Total,Conven-,FHA,VA,Rural,Cash
4,NaN,NaN,tional1,Insured,Guaranteed,Hous. Serv.,NaN,NaN,tional1,Insured,Guaranteed,Hous. Serv.,NaN
5,1988,112500,135000,80000,87000,45800,108400,138300,159500,82000,92200,52000,128100
6,1989,120000,145000,82000,89000,42500,112000,148800,173100,84700,97800,48500,144000
7,1990,122900,147700,82700,91500,48000,117100,149800,173900,86500,103800,57300,149300
8,1991,120000,142400,84500,92400,46000,120000,147200,169400,87700,103200,57700,142300
9,1992,121500,138000,86500,99000,46500,116500,144100,161100,89900,107000,51500,137100

In [4]:
df = df.rename(columns={"Median and Average Sales Price of Houses Sold by Type of Financing": "year", "Unnamed: 1": "med-price-total", "Unnamed: 2": "med-price-conv", "Unnamed: 3": "med-price-fha", "Unnamed: 4": "med-price-va", "Unnamed: 5": "med-price-rur", "Unnamed: 6": "med-price-cash", "Unnamed: 7": "av-price-total", "Unnamed: 8": "av-price-conv","Unnamed: 9": "av-price-fha","Unnamed: 10": "av-price-va", "Unnamed: 11": "av-price-rur", "Unnamed: 12": "av-price-cash"})

In [5]:
df

,year,med-price-total,med-price-conv,med-price-fha,med-price-va,med-price-rur,med-price-cash,av-price-total,av-price-conv,av-price-fha,av-price-va,av-price-rur,av-price-cash
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Period,Median Sales Price,NaN,NaN,NaN,NaN,NaN,Average Sales Price,NaN,NaN,NaN,NaN,NaN
2,NaN,Total Sold,Type of Financing,NaN,NaN,NaN,NaN,NaN,Type of Financing,NaN,NaN,NaN,NaN
3,NaN,NaN,Conven-,FHA,VA,Rural,Cash,Total,Conven-,FHA,VA,Rural,Cash
4,NaN,NaN,tional1,Insured,Guaranteed,Hous. Serv.,NaN,NaN,tional1,Insured,Guaranteed,Hous. Serv.,NaN
5,1988,112500,135000,80000,87000,45800,108400,138300,159500,82000,92200,52000,128100
6,1989,120000,145000,82000,89000,42500,112000,148800,173100,84700,97800,48500,144000
7,1990,122900,147700,82700,91500,48000,117100,149800,173900,86500,103800,57300,149300
8,1991,120000,142400,84500,92400,46000,120000,147200,169400,87700,103200,57700,142300
9,1992,121500,138000,86500,99000,46500,116500,144100,161100,89900,107000,51500,137100
10,1993,126500,140000,90900,100900,49900,120700,147700,162700,95500,108600,58600,148700
11,1994,130000,145000,95000,105400,54500,125500,154500,169100,101000,111400,59700,153000
12,1995,133900,148500,95900,107000,71000,127000,158700,173800,100700,112800,75700,154900
13,1996,140000,155000,99900,108000,76800,140000,166400,182100,105700,112600,84100,169600
14,1997,146000,160800,106000,116000,84900,143900,176200,191700,108000,117500,88600,176700
15,1998,152500,167000,109000,129000,89000,150000,181900,195100,111100,130000,92800,198800
16,1999,161000,177700,115900,127400,91800,155600,195600,212500,119400,131400,99500,197300
17,2000,169000,188000,121000,139400,84300,161100,207000,224500,122300,140100,90100,216000
18,2001,175200,194900,122700,139400,88100,176800,213200,231900,127500,140300,108800,213400
19,2002,187600,206900,127900,144200,94600,195600,228700,246300,132900,147300,106700,232800
20,2003,195000,215700,128200,150900,100900,184500,246300,263600,133100,155400,106800,256100
21,2004,221000,238100,130100,149900,101000,199900,274500,290500,133900,158700,121100,245800
22,2005,240900,252200,134900,161500,104700,221000,297000,307500,140000,175300,108300,284600
23,2006,246500,258400,146200,184900,145100,246900,305900,316900,160100,195700,137200,301800
24,2007,247900,258500,151700,187700,139700,249400,313600,320000,161900,199700,148700,342900
25,2008,232100,250600,185800,193200,(NA),257500,292600,314100,204600,208900,(NA),322500
26,2009,216700,239900,182700,204100,(NA),262900,270900,298700,202400,225500,(NA),324600
27,2010,221800,252800,186900,210100,(NA),244700,272900,306100,206900,229300,(NA),318800
28,2011,227200,244700,191700,216900,(NA),232100,267900,288000,212600,235400,(NA),282700
29,2012,245200,270800,200000,228700,(NA),253700,292200,321100,220500,249600,(NA),305200
30,2013,268900,287200,205300,254000,(NA),280400,324500,348200,231200,276800,(NA),358200
31,2014,288500,306000,213000,261600,(NA),304300,347700,364600,230700,288500,(NA),398400
32,2015,294200,321700,223600,260500,(NA),322700,352700,380100,243100,290100,(NA),399000
33,2016,307800,339000,216600,283300,(NA),325100,360900,392200,236100,304300,(NA),403500
34,2017,323100,351300,234500,296800,(NA),349200,384900,415700,254900,317400,(NA),418700
35,2018,326400,362500,249500,294500,(NA),342900,385000,417700,263500,321000,(NA),411100
36,2019,321500,353700,241200,327300,(NA),335400,383900,414500,258400,359000,(NA),411600
37,2020,336900,370600,254600,348100,(NA),336000,391900,418000,268400,375600,(NA),441000
38,2021,397100,425700,288000,412700,(NA),399600,464200,486600,308100,441300,(NA),508000
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,1Includes houses reporting other types of fina...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#iloc for deleting last two rows

AttributeError: 'NoneType' object has no attribute 'drop'

In [10]:
type("year")

str

In [13]:
#change it into datetime

SyntaxError: invalid syntax (303577026.py, line 1)